<p id="notice"><%= notice %></p>
<h2> Shopping Cart </h2>
  <ul>
    <li> <% @cart.line_items.each do |item| %> </li>
    <li> <%= item.product.name %> <%= item.product.price %> <%=item.quantity%> </li>
    <% end %>
  </ul>

  <p> Total: <%= @cart.total_quantity %> </p>

  <p> <%= number_to_currency(@cart.price.to_f/100.0) %></p>

<%= button_to 'Store', products_path, method: :get %>
<%= render 'payola/transactions/checkout', sellable: @cart %>
