<p id="notice"><%= notice %></p>

<div class="container" id="product_list">

  <h1 class="text-center"> Listing Products</h1>

  <br>


  <div>
    <% @products.each_slice(3) do |slice|%>
      <div class="row">
        <% slice.each do |item|%>
          <div class="col-xs-4">
            <ul class="list-unstyled">
              <li>Product: <%= item.name %></li>
              <li>Price: $<%= item.price %></li>
              <li>Description: <%= item.description %></li>
              <li>Seller: <%= item.seller_id %></li>
              <li><%= button_to 'Add to Cart', line_items_path(:product_id => item), :class => 'btn btn-warning btn-xs' %></li>
              <br>
            </ul>
            <br>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>

</div>
